body {
	background: pink!important;
	color: #404040!important;
}
.header {
	background: rgba(255,255,255,0.6);
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
/*******************menu*******************/
nav.navbar li.nav-item a.nav-link {
	color: #736e6e;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.25s;
	padding: 5px 25px;
}
nav.navbar li.nav-item a.nav-link:hover,
nav.navbar li.nav-item a.nav-link:active {
	color: #000;
}
nav.navbar li.login a.nav-link {
	background: #de6d6e;
    border-radius: 5px;
    color: #fff;
}
nav.navbar {
	justify-content: flex-end;
}
nav.navbar .navbar-collapse {
	justify-content: flex-end;
}

nav.navbar .navbar-toggler {
    background-color: #ff0000ab;
    border: 1px solid red;
}

/*******************banner*******************/
.banner {
	height: 100vh;
	background-image: url(../img/banner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 0;
	box-sizing: border-box;
}
.banner h1 {
	font-size: 100px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	font-weight: 700;
	padding-top: 100px;
	text-shadow: 1px 1px 1px #000;
}

/*******************tips*******************/
.tips {
	background: #fff;
}
.tips .container {
	padding: 50px 15px;
}
.tips ul li {
	padding: 30px;
}
.tips ul li .tips-wr {
	border-radius: 50%;
}
.tips h3 {
	color: #404040;
}
.tips p {
	color: #636363;
}
.tips li .tips-wr {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 185px;
	width: 185px;
	max-width: 185px;
	margin: auto;
}
.tips li p {
	color: #fff;
	margin: 10px 0 0 0;
}
.tips li:nth-child(1) .tips-wr {
	background: #4eb9f4;
}
.tips li:nth-child(2) .tips-wr {
	background: #6fc125;
}
.tips li:nth-child(3) .tips-wr {
	background: #ff5649;
}
.tips li:nth-child(4) .tips-wr {
	background: #e48f23;
}
.tips li span {
	display: none;
	max-width: 150px;
	font-size: 15px;
	color: #fff;
	max-height: 180px;
	overflow: hidden;
}
.tips li:hover .tips-wr {
	transform: scale(1.1);
	transition: all 0.4s;
	cursor: pointer;
}
.tips li:hover .tips-wr img,
.tips li:hover .tips-wr p {
	display: none;
}
.tips li:hover span {
	display: block;
	transition: all 0.5s;
}

/*******************news*******************/
.news {
	background: #fff;
	box-shadow: inset 0px 3px 15px #ccc;
}
.news .container {
	padding: 50px 15px;
}
.news .news-img-box img {
	width: 100%;
}
.news .container .news-box {
	padding: 30px 0;
}
.news h3 {
	color: #404040;
}
.news p {
	color: #9a9a9a;
	text-align: justify;
}
/*******************footer*******************/
.footer {
	background: #292d22;
	color: #8b8b8b;
}
.footer .container {
	padding: 30px 15px;
}
.footer .sub-menu-box a {
	color: #8b8b8b;
	transition: all 0.25s;
	text-decoration: none;
}
.footer .sub-menu-box a:hover {
	color: #fff;
}
.footer .social .nav {
    justify-content: space-between;
}
.footer .social li a {
	color: #292d22;
	transition: all 0.25s;
	padding: 20px 0;
}
.footer .social .fab {
	display: inline-block;
    width: 50px;
    line-height: 50px;
    background: #8b8b8b;
    border-radius: 50%;
    font-size: 25px;
}
.footer .social li a:hover {
	color: #fff;
}
.footer .copyright {
	padding-top: 30px;
}


	





/***************** @MEDIA *****************/
@media(max-width: 1199px) {
	.news {
	    box-shadow: none;
	}
	.menu li a {
	    font-size: 16px;
	}
	html>body {
		font-size: 15px;
	}
	.banner h1,
	html>body h1 {
		font-size: 80px;
	}
	.tips h2,
	html>body h2 {
	    font-size: 28px;
	}
	.banner h3,
	html>body h3 {
		font-size: 25px;
	}
	.footer h4,
	html>body h4 {
		font-size: 22px;
	}
	.header {
		padding: 10px 0;
	}
}

@media(max-width: 991px) {
	.header {
	    background: rgba(255, 255, 255, 0.9);
	}
	.header .logo {
		position: absolute;
	    width: auto;
	    z-index: 99;
	}
	nav.navbar .navbar-collapse {
	    margin-top: 15px;
	    padding-top: 5px;
	    border-top: 1px solid #675c5c;
	}
	nav.navbar li.nav-item a.nav-link {
		color: #000;
		font-size: 16px;
		padding: 7px 25px 7px 35px;
	}
	nav.navbar li.login a.nav-link {
	    color: #fff;
	}
	li.login {
		text-align: center;
    	padding: 15px 50px 10px 50px;
	}
	.news .container .news-box {
	    border: 1px solid #ccc;
	    box-shadow: inset 0px 0px 10px #0000001c;
	    margin: 15px 0;
	}
	.footer .container {
	    padding: 10px 15px;
	}
	.footer .social .fab {
	    display: inline-block;
	    width: 30px;
	    line-height: 30px;
	    background: #8b8b8b;
	    border-radius: 50%;
	    font-size: 17px;
	}
	.footer .social .nav {
		justify-content: center;
	}
	.footer .copyright {
	    padding-top: 0px;
	}
	.footer .social li a {
	    padding: 20px 10px;
	}
	.news .news-img-box img {
	    width: 45%;
	}
}

@media(max-width: 767px) {
	.banner h1 {
	    font-size: 50px;
	    padding-top: 50px;
	}
	html>body {
		font-size: 14px;
	}
	.footer .sub-menu-box {
		display: none;
	}
	.footer .container {
	    padding: 0px 15px;
	}
	.news .news-img-box img {
	    width: 65%;
	}
}

@media(max-width: 575px) {
	.tips .container>h3,
	.tips .container>p {
		display: none;
	}
	.tips .container {
	    padding: 5px 15px;
	}
}