body {
    background: #000!important;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

/*===================================== MAIN-SCREEN =====================================*/
.main-screen {
    background-image: url(../img/main-screen-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.main-screen:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 0;
}
.main-screen .row {
    height: 100vh;
    z-index: 5;
    position: relative;
}
.main-screen .main-screen__title h1 {
    font-size: 72px;
    color: #fff;
    font-weight: 900;
    margin: 50px 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.67);
}

.main-screen__social-links {
    margin: 30px 0 200px;
}

.social-link-item {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
.social-link-item {
    background-image: url(../img/s-icon-1.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}
.social-link-item:hover {
    transform: scale(1.1);
}
.social-link-item:nth-child(2) {
    background-image: url(../img/s-icon-2.png);
}
.social-link-item:nth-child(3) {
    background-image: url(../img/s-icon-3.png);
}
.social-link-item:nth-child(4) {
    background-image: url(../img/s-icon-4.png);
}
.social-link-item:nth-child(5) {
    background-image: url(../img/s-icon-5.png);
}
.social-link-item:nth-child(6) {
    background-image: url(../img/s-icon-6.png);
}

.main-screen__scroll-button.text-center {
    /* margin-top: auto; */
    /* justify-self: end; */
}
.main-screen .btn-down {
    width: 50px;
    height: 35px;
    background-image: url(../img/down-btn.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}















/*===================================== @MEDIA =====================================*/
@media(max-width: 1199px) {}


@media(max-width: 991px) {}


@media(max-width: 767px) {}


@media(max-width: 575px) {}