@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900');

body {
	font-family: 'Roboto', sans-serif!important;
}
.row {
	margin: 0!important;
}
.back-to-top {
	position: fixed;
	bottom: 30px;
	right: 35px;
	z-index: 10;
}
.fa-arrow-up:before {
    background: #00000094;
    color: #ffffff80;
    font-size: 20px;
    width: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.section-header {
	margin: 0 0 40px 0;
	color: #566366;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 600;
}
.main-text {
	color: #919191;
	margin: 0;
	line-height: 28px;
	font-size: 17px;
}

/***********************************************/
.slider {
	background-image: url(../img/slider.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #ccc;
	min-height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider>.container {
	max-width: 1100px;
	width: 100%;
	margin: auto;
	padding: 0 30px;
}
.slider h1 {
	font-size: 60px;
	padding: 20px 0;
	color: #fff;
	text-transform: uppercase;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	font-weight: 600;
}
.slider a {
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	padding: 15px 35px;
	background: transparent;
	text-transform: uppercase;
	margin-top: 50px;
	font-size: 18px;
	cursor: pointer;
}
.slider a:hover,
.slider a:active,
.slider a:visited {
	color: #fff;
	text-decoration: none;
}



/*********************************************************/
.menu {
	background: #252e30;
}
.menu .container {
	text-align: justify;
	vertical-align: middle;
	font-size: 0;
	line-height: 0;
	padding: 15px;
}
.menu .logo img {
	vertical-align: bottom;
}
.menu .logo,
.menu .menu-box {
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
}
.menu ul {
	margin: 0;
}
.menu li {
	list-style: none;
	display: inline-block;
	padding: 0 15px;
}
.menu li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 600;
}
.menu li a:hover {
	color: #2ecc71;
}
.helper {
	display: inline-block;
	width: 100%;
	font-size: 0;
	line-height: 0;
}



/********************************************/
.three .container {
	padding: 80px 15px;
}
.three ul li {
	text-align: justify;
	padding: 0 25px;
}
.three ul li h4 {
	color: #566366;
	font-size: 25px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: 600;
}
.three ul li p {
	color: #919191;
	font-size: 18px;
}



/********************************/
.about-me {
	background-image: url(../img/about_me.png);
	background-color: #f2f2f1;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-me .container {
	padding: 90px 15px;
}
.about-me p {
	color: #919191;
    font-size: 18px;
    text-align: justify;
}
.about-me .list-items {
	margin-top: 70px;
}
.about-me .list-items h5 {
	font-size: 21px;
	color: #566366;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
	text-transform: uppercase;
}
.about-me .ab-item {
	padding-left: 65px;
	margin-bottom: 50px;
}
.about-me .ab-item:before {
	content: '';
	position: absolute;
	top: 15px;
	left: 0;
	width: 41px;
	height: 41px;
}
.about-me .ab-item:nth-child(1):before {
	background: url(../img/gr-des-ic.png) center no-repeat;
}
.about-me .ab-item:nth-child(2):before {
	background: url(../img/gr-des-ic.png) center no-repeat;
}
.about-me .ab-item:nth-child(3):before {
	background: url(../img/on-mar-ic.png) center no-repeat;
}
.about-me .ab-item:nth-child(4):before {
	background: url(../img/seo-ic.png) center no-repeat;
}

/******************************/
.skills .container {
	padding: 100px 15px;
}
.skills .col-md-6 {
	padding: 0 30px;
}
.skills .skills-txt .main-text {
	text-align: justify;
}
.skills .skills-txt button {
	color: #2ecc71;
    border: 3px solid #2ecc71;
    padding: 10px 30px;
    background: transparent;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.skills .skills-progress ul {
	margin: 0;
}
.skills .skills-progress h4 {
	margin: 45px 0 15px 0;
    color: #566366;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.skills .skills-progress .progress {
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f2f2f1;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.skills .skills-progress .progress-bar {
    font-size: 18px;
    line-height: 30px;
    background: #2ecc71;
    -webkit-box-shadow: none;
    box-shadow: none;
}



/******************************/
.resume {
	background: #f2f2f1;
	position: relative;
}
.resume:after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -80px;
	left: calc(50% - 40px);
	border-top: 40px solid #f2f2f1;
	border-bottom: 40px solid transparent;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
}
.resume .container {
	padding: 50px 15px;
}
.resume p {
	color: #919191;
    font-size: 18px;
	text-align: center;
	padding: 0 50px;
	margin: 50px 0;
}
.resume button {
	color: #2ecc71;
	border: 2px solid #2ecc71;
	background: transparent;
	padding: 20px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}
/*****************************************/
.education .container {
	padding: 100px 15px;
	border-bottom: 1px solid #ccc;
}
.education .main-text {
	text-align: justify;
}
.education .education-txt,
.education .education-years {
	padding: 0 30px;
}
.green-point {
	display: inline-block;
    background: #2ecc71;
    color: #fff;
    padding: 0px 10px;
    margin: 10px 0 0 0;
}
.education-years h4 {
	font-size: 22px;
	margin: 50px 0 15px 0;
	text-transform: uppercase;
}

/*****************************************/
.work-ex .container {
	padding: 100px 15px;
}
.work-ex .main-text {
	text-align: justify;
}
.work-ex .work-ex-txt,
.work-ex .work-ex-years {
	padding: 0 30px;
}
.work-ex-years h4 {
	font-size: 22px;
	margin: 50px 0 15px 0;
	text-transform: uppercase;
}


/*****************************************/
.reviews {
	background: #f2f2f1;
}
.reviews .container {
	padding: 50px 15px;
}
.reviews h4 {
	text-transform: uppercase;
	margin: 30px 0;
	color: #566366;
	font-weight: 600;
}
.reviews p {
	color: #919191;
	font-size: 18px;
	line-height: 30px;
	font-style: italic;
}



/**********************************************/
.portfolio .container {
	padding: 100px 15px;
}
.portfolio h3 {
	color: #566366;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
    margin-top: 0;
}
.portfolio p {
	margin-bottom: 50px;
	padding: 0 100px;
	color: #919191;
    font-size: 16px;
    line-height: 30px;
}
.portfolio li {
	padding: 15px;
}
.portfolio li:hover img {
	transform: scale(1.05);
	transition: all 0.5s;
	box-shadow: 0 0 30px #252e30;
}



/**********************************************/
.contact {
	background: #252e30;
}
.contact .container {
	padding: 110px 15px 110px 15px;
}
.contact .cont_txt {
	padding: 0 30px 0 5px; 
}
.contact .cont_form {
	padding: 0 5px 0 30px;
}
.contact .cont_txt h3 {
	color: #fff;
}
.contact .cont_txt p {
    text-align: justify;
}
.contact .cont_txt a {
	color: #919191;
}
.contact .cont_txt .adress {
	margin: 25px 0;
}
.contact .cont_txt .adress li p {
	margin: 0;
}
.contact .cont_txt strong {
	color: #fff;
	margin-right: 10px;
}
.contact .cont_form {
	padding-top: 50px;
}
.contact .cont_form label {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
}
.contact .cont_form input {
	display: block;
    font-size: 16px;
    color: #fff;
    width: 100%;
    line-height: 30px;
    padding: 10px;
    background: #4b5456;
    border: none;
}
.contact .cont_form textarea {
	display: block;
    font-size: 16px;
    color: #fff;
    width: 100%;
    line-height: 30px;
    padding: 10px;
    background: #4b5456;
    border: none;
}
.contact .cont_form #sub_btn {
	color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    width: 40%;
    padding: 0;
    margin: 0;
    font-weight: 600;
    display: inline-block;
    border: none;
    background: #191f21;
    transition: all 0.3s ease-in;
}
.contact .cont_form #sub_btn:hover {
	color: #191f21;
	background: #fff;
}



/**********************************************/
.footer {
	background: #191f21;
}
.footer .container {
	padding: 30px 15px;
}
.footer ul {
	margin: 0;
}
.footer p {
	color: #4b5456;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.footer li .fab {
	font-size: 20px;
    color: #191f21;
    background: #4b5456;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
.footer li:hover .fab {
	color: #fff;
}
.about-me .me-img-box {
	display: none;
	padding-left: 0;
}

@media(max-width: 992px) {

	.about-me {
		background: #f2f2f1;
	}
	.about-me .section-header {
		text-align: center;
	}
	.about-me .me-img-box {
		display: block;
	}
	.about-me .list-items {
		margin-top: 25px;
	}
	.about-me .me-txt-box {
		margin-bottom: 30px;
	}
	.three ul li h4 {
		margin: 25px 0 0 0;
	}
	.slider>.container {
		padding: 30px 80px;
	}
	.three .container,
	.about-me .container,
	.skills .container,
	.resume .container,
	.reviews .container,
	.portfolio .container,
	.contact .container {
		padding: 30px 10px;
	}
	.contact .cont_txt {
	    padding: 0;
	}
	.contact .cont_form {
	    padding: 50px 0 0 0;
	}

}